
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 20px;
}

nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}
nav .nav-links {
    display: flex;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}
nav a:hover {
    background-color: #575757;
    color: white;
}
nav a.active {
    background-color: #04AA6D;
    color: white;
}
nav #userDetailsBtn {
    margin-left: auto;
    font-weight: bold;
}


.dropdown {
    position: absolute;
    left: 1200px;
    display: inline-block;
}

#userDetailsBtn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#userDetailsBtn:hover {
    background-color: #0056b3;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff4f;
    padding: 10px 0;
    min-width: 89px; 
    z-index: 1000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    padding: 8px 12px;
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f5f5f5;
    color: #000;
}

#superAdminBtn {
    display: none; 
}
