body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #ff7a18, #af002d 40%, #32004b);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    /* direction: ltr; */
}

.user-details {
    background: #ffffff1a;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px #0000004d;
    backdrop-filter: blur(10px);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: left; 
}

.user-details h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center; 

}

.user-details p {
    font-size: 16px;
    margin: 10px 0;
    color: #ddd;
}

.user-details p strong {
    color: #fff;
}

.user-details span {
    color: #ff7a18;
    font-weight: bold;
}

.user-details button {
    background-color: #ff7a18;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
}

.user-details button:hover {
    transform: scale(1.05);
    background-color: #af002d;
}



.fa-id-badge {
    color: #ff7a18;

}

